<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="index.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inspiration&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    body {
      font-family: "Inspiration", cursive;
    }
    .text_color {
      color: antiquewhite;
    }
  </style>
  <body
    style="
      background: url(https://images2.alphacoders.com/261/thumb-1920-26102.jpg);
    "
  >
    <!-- nav -->

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a
          style="
            font-size: 30px;
            letter-spacing: 2px;
            font-weight: 800;
            color: antiquewhite;
          "
          class="navbar-brand"
          href="/"
          >The Last Book</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text_color"
                style="font-family: 'Gochi Hand', cursive"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text_color"
                style="font-family: 'Gochi Hand', cursive"
                href="/recommend"
                >Recommend</a
              >
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              style="background-color: transparent; color: antiquewhite"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="margin-top: 30px" class="text_color">Top 50 Books</h1>
        </div>

        <!-- cards  -->
        <!-- using ginga template  -->
        {% for i in range(book_name|length) %}
        <div
          class="col-md-3"
          style="
            font-family: 'Gochi Hand', cursive;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <div
            class="card"
            style="
              background-color: transparent;
              margin-top: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <div
              class="card-body"
              style="
                background-color: transparent;
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <img
                style="width: 9rem"
                class="card-img"
                src="{{image[i]}}"
                alt="book"
              />
            </div>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                align-self: center;
              "
            >
              <p class="text-white">Name:- {{book_name[i]}}</p>
              <p class="text-white">Author:- {{author[i]}}</p>
              <p class="text-white">Votes:- {{votes[i]}}</p>

              <p style="font-size: 11px" class="text-white">
                Ratings:- {{rating[i]}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
